{% extends "layouts/base.html" %}

{% block title %} Add Project {% endblock %}

{% load static %}

{% load widget_tweaks %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

{{ form.media }}

<div class="col-md-8 col-12 mr-auto ml-auto">
    <div class="row">
        <div class="col-md-12">
            <form id="TypeValidation" class="form-horizontal" action="" method="post" novalidate="novalidate"
                enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card ">
                    <div class="card-header card-header-rose card-header-text">
                        <div class="card-text">
                            <h4 class="card-title">Project {% if '/project/ags/add' in request.path %}AGS {% endif %}Form</h4>
                        </div>
                    </div>
                    <div class="card-body ">
                        {% for message in messages %}
                        <div class="alert alert-rose">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                            <span>
                                <b> Warning - </b> {{ message }}</span>
                        </div>

                        {% endfor %}

                        {% for error in form.non_field_errors %}
                        <div class="form-group has-error">{{ error }}</div>
                        {% endfor %}

                        {% for field in form %}
                        <div class="row">
                            {% for error in field.errors %}
                            <div class="alert alert-danger col-12" role="alert">{{ error }}</div>
                            {% endfor %}
                            <label class="col-sm-3 col-form-label">{{ field.label_tag }}</label>
                            <div class="col-sm-9">
                                <div class="form-group bmd-form-group">
                                    {{ field | add_class:"form-control" }}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="card-footer ml-auto mr-auto">
                        <button type="submit" class="btn btn-rose">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 ml-auto mr-auto">
        <div class="card card-signup">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 ml-auto">
                        <div class="info info-horizontal">
                            <div class="description">
                                <h4 class="info-title">Whats is AGS4 ?</h4>
                                <p class="description">
                                    AGS4 is a standard for transferring data between organizations in the site investigation and geotechnical/geoenvironmental industry, independent of software, hardware or operating system. Typical information that are being shared are ground investigation and laboratory test results and monitoring data as well as standard information on the project and machinery and standards used for the testing.
                                </p>
                            </div>
                        </div>
                        <div class="info info-horizontal">
                            <div class="description">
                                <h4 class="info-title">File Format</h4>
                                <p class="description">
                                    The AGS files are simple digital files (similar to .txt files) which store site investigation and geotechnical/environmental data. Data is structured in Groups. Each group has a unique name, headings, units and type to describe what information the data contain. 
                                    <br>
                                    The main parts of an AGS file are:
                                <ol>
                                    <li>GROUP – indicates a collection of similar data items in the dictionary (spreadsheet tab)
                                    </li>
                                    <li>HEADING – indicates what information is contained at each attribute/column in a data group (column in a tab/group)
                                    </li>
                                    <li>UNIT – the units for each column/attribute
                                    </li>
                                    <li>TYPE – the attribute/column type for each data, ie. X for text or 2DP for two decimal places (the column formatting)
                                    </li>
                                    <li>DATA – one or more data rows conforming to the TYPE (the lines of data after fixed header). Each row of DATA can have multiple variables as per the HEADING. 
                                    </li>
                                </ol>
                                <br>
                                    The HEADING, UNIT and TYPE are collectively called the HEADER and define the main GROUP attributes. 
                                    Each row in the data file must start with a DATA DESCRIPTOR that defines the contents of that row. Main Descriptors are GROUP, HEADING, UNIT, TYPE and DATA. 

                                    </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 ml-auto mr-auto">
        <div class="card">
            <div class="card-header card-header-icon card-header-rose">
                <h4 class="card-title ">AGS 4 supported Data Format</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <tr>
                                <th>
                                    Document Title
                                </th>
                                <th>
                                    Download Link
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Sample One
                                </td>
                                <td>
                                    <button class="btn btn-rose">Download</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Sample Two
                                </td>
                                <td>
                                    <button class="btn btn-rose">Download</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Sample Two
                                </td>
                                <td>
                                    <button class="btn btn-rose">Download</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Sample Two
                                </td>
                                <td>
                                    <button class="btn btn-rose">Download</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}