{% extends "layouts/base.html" %}

{% block title %} Projects {% endblock %}

{% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  {% if projects %}
  {% for project in projects %}
  <div class="col-md-3">
    <div class="card card-product" data-count="2">
      <div class="card-header card-header-image" data-header-animation="true">
        <a href="{% url 'project-details' project.id %}">
          {% if project.thumnail %}
          <img class="img" src= "{{ project.thumnail.url }}" >
          {% else %}
          <img class="img" src= "/static/assets/img/city.jpg" >
          {% endif %}
        </a>
      </div>
      <div class="card-body">
        <div class="card-actions text-center">
          <button type="button" class="btn" rel="tooltip" data-placement="bottom" title=""
            data-original-title="Details" onclick='window.location.href="{% url 'project-details' project.id %}"'>
            <i class="material-icons">insights</i>
          </button>
          <button type="button" class="btn" rel="tooltip" data-placement="bottom" title=""
            data-original-title="Section" onclick='window.location.href="{% url 'project-section' project.id %}"'>
            <i class="material-icons">leaderboard</i>
          </button>
          <button type="button" class="btn" rel="tooltip" data-placement="bottom" title=""
            data-original-title="Report" onclick='window.location.href="{% url 'project-report' project.id %}"'>
            <i class="material-icons">check_box</i>
          </button>
          <button type="button" class="btn" rel="tooltip" data-placement="bottom" title=""
            data-original-title="Edit" onclick='window.location.href="{% url 'edit-project' project.id %}"'>
            <i class="material-icons">edit</i>
          </button>
          <button type="button" class="btn" rel="tooltip" data-placement="bottom" title=""
            data-original-title="Remove" onclick='window.location.href="{% url 'delete-project' project.id %}"'>
            <i class="material-icons">close</i>
          </button>
        </div>
        <h4 class="card-title">
          <a href="{% url 'project-details' project.id %}">{{ project.name }}</a>
        </h4>
        <h6>
          Geo Database Management
        </h6>
        <div class="card-description">
          {{ project.summery }}
        </div>
      </div>
      <div class="card-footer">
        <div class="price">
          No of Boreholes : {{ project.number_of_bore_home }}<br>
          Max Exploration Depth : {{ project.max_depth }}<br>
          <p class="card-category"><i class="material-icons">place</i> {{ project.location }}</p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% endif %}
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}