<div class="row hide" id="2chart">
    <div class="col-md-6">
      <div class="card resizable-content">
        <div class="card-body">
          <div id="drawChart-first" style="width:100%; height: 90%;"></div>
  
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card resizable-content">
        <div class="card-body ">
          <div id="drawChart-second" style="width:100%; height: 90%;"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row hide" id="4chart">
    <div class="col-md-6">
      <div class="card resizable-content">
        <div class="card-body ">
          <div id="drawChart-third" style="width:100%; height: 90%;"></div>
  
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card resizable-content">
        <div class="card-body ">
          <div id="drawChart-fourth" style="width:100%; height: 90%;"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row hide" id="6chart">
    <div class="col-md-6">
      <div class="card resizable-content">
        <div class="card-body ">
          <div id="drawChart-five" style="width:100%; height: 90%;"></div>
  
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card resizable-content">
        <div class="card-body ">
          <div id="drawChart-six" style="width:100%; height: 90%;"></div>
        </div>
      </div>
    </div> 
  </div>
  <div class="row hide" id ="8chart">
    <div class="col-md-6">
      <div class="card resizable-content">
        <div class="card-body ">
          <div id="drawChart-seven" style="width:100%; height: 90%;"></div>
  
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card resizable-content">
        <div class="card-body ">
          <div id="drawChart-eight" style="width:100%; height: 90%;"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row hide" id ="10chart">
    <div class="col-md-6">
      <div class="card resizable-content">
        <div class="card-body ">
          <div id="drawChart-nine" style="width:100%; height: 90%;"></div>
  
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card resizable-content">
        <div class="card-body ">
          <div id="drawChart-ten" style="width:100%; height: 90%;"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row hide" id ="12chart">
    <div class="col-md-6">
      <div class="card resizable-content">
        <div class="card-body ">
          <div id="drawChart-eleven" style="width:100%; height: 90%;"></div>
  
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card resizable-content">
        <div class="card-body ">
          <div id="drawChart-twel" style="width:100%; height: 90%;"></div>
        </div>
      </div>
    </div>
  </div>
  