<div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/sidebar-1.jpg">
  <div class="logo">
    <a target="" rel="noopener noreferrer" href="{% url 'project' %}" class="simple-text logo-normal">
      Geo Database
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      {% if request.user.is_authenticated %}
      <li class="nav-item {% if '/project' in request.path %}active{% endif %}">
        <a class="nav-link" data-toggle="collapse" href="#project">
          <i class="material-icons">apps</i>
          <p> Projects
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="project">
          <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link" href="{% url 'project' %}">
                <span class="sidebar-mini"> P </span><span class="sidebar-normal"> Project </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="{% url 'profiles' %}">
                <span class="sidebar-mini"> Pf </span><span class="sidebar-normal"> Profile </span>
              </a>
            </li>
            {% if request.user.is_superuser %}
            <li class="nav-item ">
              <a class="nav-link" href="{% url 'defaultprofiles' %}">
                <span class="sidebar-mini"> DP </span><span class="sidebar-normal"> Default Profiles </span>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </li>
      <li class="nav-item {% if '/tools' in request.path %}active{% endif %}">
        <a class="nav-link" data-toggle="collapse" href="#tools">
          <i class="material-icons">widgets</i>
          <p> Tools
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="tools">
          <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link" href="{% url 'tools' %}">
                <span class="sidebar-mini"> T </span><span class="sidebar-normal"> Tools </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="{% url 'tools' %}">
                <span class="sidebar-mini"> P </span><span class="sidebar-normal"> Profiles </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item {% if '/user' in request.path %}active{% endif %}">
        <a class="nav-link" data-toggle="collapse" href="#users">
          <i class="material-icons">person</i>
          <p> User
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="users">
          <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link" href="{% url 'user_list' %}">
                <span class="sidebar-mini"> U </span><span class="sidebar-normal"> Users </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="{% url 'profiles' %}">
                <span class="sidebar-mini"> R </span><span class="sidebar-normal"> Rules </span>
              </a>
            </li>
            {% if request.user.is_superuser %}
            <li class="nav-item ">
              <a class="nav-link" href="{% url 'contact' %}">
                <span class="sidebar-mini"> C </span><span class="sidebar-normal"> Contact </span>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </li>
      {% else %}
      <li class="nav-item {% if request.path == '/accounts/login' %} active {% endif %}">
        <a class="nav-link" href="{% url 'login' %}">
          <i class="material-icons">directions_run</i>
          <p>Log In</p>
        </a>
      </li>
      {% endif %}
    </ul>
  </div>

</div>