<!--
=========================================================
* Material Kit 2 - v3.0.4
=========================================================

* Product Page:  https://www.creative-tim.com/product/material-kit 
* Copyright 2022 Creative Tim (https://www.creative-tim.com)
* Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="" sizes="76x76" href="/static/assets-landing/img/logos/logo.png">
  <link rel="" type="image/png" href="/static/assets-landing/img/logos/logo.png">
  <title>
    Geo-Data Management  {% block title %}{% endblock %}
  </title>
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
  <!-- Nucleo Icons -->
  <link href="/static/assets-landing/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/static/assets-landing/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <!-- CSS Files -->
  <link id="pagestyle" href="/static/assets-landing/css/material-kit.css?v=3.0.4" rel="stylesheet" />
  {% block css %}{% endblock css %}
</head>

<body class="sign-in-basic">
  <!-- Navbar Transparent -->
  {% include 'includes/landing/navbar.html' %}
  <!-- End Navbar -->
  
  {% block content %}{% endblock content %}
  <footer class="footer pt-5 mt-5">
    <div class="container">
      <div class=" row">
        <div class="col-md-1 mb-4 ms-auto">
        </div>
        <div class="col-md-3 mb-4 ms-auto">
          <div>
            <a href="{% url 'landing' %}">
              <img src="/static/assets-landing/img/logos/logo-vertical.jpg" class="mb-3 footer-logo" alt="main_logo">
            </a>
          </div>
          <div style="margin-left: 12%;">
            <ul class="d-flex flex-row ms-n3 nav text-center">
              <!-- <li class="nav-item">
                <a class="nav-link pe-1" href="https://www.facebook.com/CreativeTim/" target="_blank">
                  <i class="fab fa-facebook text-lg opacity-8"></i>
                </a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link pe-1" href="https://www.linkedin.com/company/oryc" target="_blank">
                  <i class="fab fa-twitter text-lg opacity-8"></i>
                </a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link pe-1" href="https://dribbble.com/creativetim" target="_blank">
                  <i class="fab fa-dribbble text-lg opacity-8"></i>
                </a>
              </li> -->
              <!-- <li class="nav-item">
                <a class="nav-link pe-1" href="https://github.com/creativetimofficial" target="_blank">
                  <i class="fab fa-github text-lg opacity-8"></i>
                </a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link pe-1" href="https://www.linkedin.com/company/oryc"
                  target="_blank">
                  <i class="fab fa-linkedin text-lg opacity-8"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-6 mb-4">
          <div>
            <h6 class="text-sm">Resources</h6>
            <ul class="flex-column ms-n3 nav">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}" target="_blank">
                  Geo-Data Platform
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'blog' %}" target="_blank">
                  Tools
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contactus' %}" target="_blank">
                  Contact Us
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-6 mb-4 me-auto">
          <div>
            <h6 class="text-sm">Legal</h6>
            <ul class="flex-column ms-n3 nav">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}"
                  target="_blank">
                  Terms & Conditions
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}"
                  target="_blank">
                  Privacy Policy
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12">
          <div class="text-center">
            <p class="text-dark my-4 text-sm font-weight-normal">
              All rights reserved. Copyright ©
              <script>
                document.write(new Date().getFullYear())
              </script> Geo-Data Management.
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--   Core JS Files   -->
  <script src="/static/assets-landing/js/core/popper.min.js" ></script>
  <script src="/static/assets-landing/js/core/bootstrap.min.js" ></script>
  <script src="/static/assets-landing/js/plugins/perfect-scrollbar.min.js"></script>
  <!--  Plugin for Parallax, full documentation here: https://github.com/wagerfield/parallax  -->
  <script src="/static/assets-landing/js/plugins/parallax.min.js"></script>
  <!-- Control Center for Material UI Kit: parallax effects, scripts for the example pages etc -->
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTTfWur0PDbZWPr7Pmq8K3jiDp0_xUziI"></script>
  <script src="/static/assets-landing/js/material-kit.min.js?v=3.0.4" ></script>
  <!-- <script>
    window.onscroll = function() {myFunction()};
    
    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;
    
    function myFunction() {
      if (window.pageYOffset >= sticky) {
        navbar.classList.add("sticky")
      } else {
        navbar.classList.remove("sticky");
      }
    }
    </script> -->
</body>

</html>