{% load static %}
{% block javascripts %}
<script type="text/javascript" id="MathJax-script"
		src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

{% endblock javascripts %}
<style>
table,
    th,
    td ,
    caption{
        font-size : 16px;
    }
</style>
<div class="card">

    <div class="card-header">
        <h3 class="card-title">Description about Friction Angle Calculation</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-7 ml-auto mr-auto">
                <h4>Friction angle together with cohesion define the shear strength parameters of soil. 
                    For granular / cohesionless soil (c = 0) friction angle is mainly estimated either from 
                    laboratory tests or from correlations with N SPT number. <br>
                    There are many correlations to estimate friction angle for granular material from N SPT 
                    values . They are based on the uncorrected N SPT (field measurements) or based on
                    the corrected (N1)<sub>60</sub>  value.<br>
                </h4><br><br>

                <h4>Method 1 : Peck, Hanson and Thornburn (1974)</h4>
                <h4>&emsp;\(\phi' = 27.1+0.3N'+0.00054N'^2\)</h4>
                <h4> Note: Above an N SPT of 60 values are reduced to a more conservative estimate of <br> friction
                    angles.
                </h4><br/>

                <h4>Method 2 : Defines friction angle from CIRIA Report 143 (1995) after
                    Peck, Hanson and Thornburn.</h4><br>
                    
                <h4>Method 3 :  Defines friction angle as per Terzaghi, Peck & Mersi (1996).
                    Three curves are presented for fine, coarse <br> and average soil particles.</h4><br>
                <h4>Method 4 : Defines friction angle as per Meyerhof (1986).</h4><br>
                <h4>Method 5 : Defines friction angle as per Dunham (1954).</h4><br>
                <h4>&emsp;\(\phi' = \sqrt{ 12N} + 20\)</h4></br>
                <h4>Method 6 : Defines friction angle as per Osaki et al. (1959)</h4><br>
                <h4>&emsp;\(\phi' = (20 &#183; N)^{0.5} + 15\) </h4><br>

                <h4>Typical friction angle values and density versus N SPT number are presented
                    in a tabulated format at table below:</h4>

                <div class="card-header">
                    <table class= "table table-hover table-sm text-center">
                        <thead>
                            <tr>
                                <th rowspan="2">N value<br>(blows/ft or 305 mm)</th>
                                <th rowspan="2">Relative<br>Density</th>
                                <th colspan="2">Approximate \(\phi'_{tc}\) (degrees)</th>
                            </tr>
                            <tr>
                                <th>Method 1</th>
                                <th>Method 4</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>0 to 4</td>
                                <td>very loose</td>
                                <td>< 28</td>
                                <td>< 30</td>
                            </tr>
                            <tr>
                                <td>4 to 10</td>
                                <td>loose</td>
                                <td>28 to 30</td>
                                <td>30 to 35</td>
                            </tr>
                            <tr>
                                <td>10 to 30</td>
                                <td>medium</td>
                                <td>30 to 36</td>
                                <td>35 to 40</td>
                            </tr>
                            <tr>
                                <td>30 to 50</td>
                                <td>dense</td>
                                <td>36 to 41</td>
                                <td>40 to 45</td>
                            </tr>
                            <tr>
                                <td>> 50</td>
                                <td>very dense</td>
                                <td>> 41</td>
                                <td>> 45</td>
                            </tr>
                        </tbody>
                        
                    </table>
                </div>

            </div>
            <div class="col-md-5 ml-auto mr-auto">
                <h5>&emsp;&emsp;Method 2: CIRIA 143 (1995)</h5>
                <img class="img" src="{% static "assets/img/FractionAngle_2.png" %}"><br><br>
                <h5>&emsp;&emsp;&emsp;Method 3: Terzaghi, Peck & Mersi (1996)</h5>
                <img class="img" src="{% static "assets/img/FractionAngle_3.png" %}"><br><br>
            </div>
        </div>
    </div>
</div>
