{% extends "layouts/base.html" %}

{% block title %} project Details {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<!-- Link to Leaflet Stylesheet-->
<link rel="stylesheet" href="/static/assets/css/leaflet/leaflet.css" />
<link rel="stylesheet" href="/static/assets/css/leaflet/easy-button.css" />
<link rel='stylesheet' href='/static/assets/css/leaflet/leaflet.fullscreen.css' />
<link rel="stylesheet" href="/static/assets/css/leaflet/L.Control.Locate.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
<link  href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="/static/custom/css/style.css" />
{% endblock stylesheets %}

{% block content %}

<div id="content">

{% include 'includes/project/projectmap.html' %}
{% include 'includes/project/projectfilter.html' %}
{% include 'includes/profile/chartsprofile.html' %}
{% include 'includes/profile/profileform.html' %}

</div>
{% endblock content %}

{% block javascripts %}
<!-- IMPORT all JS FILES -->
<!-- Link to leaflet javascript library-->
<script src="/static/assets/js/core/jquery-3.6.0.min.js"></script>
<script src="/static/assets/js/core/leaflet/leaflet.js"></script>
<script src="/static/assets/js/core/leaflet/easy-button.js"></script>
<script src='/static/assets/js/core/leaflet/Leaflet.fullscreen.min.js'></script>
<script src="/static/assets/js/core/leaflet/leaflet.ajax.min.js"></script>
<script src="/static/assets/js/core/leaflet/L.Control.Locate.min.js"></script>
<script src="/static/assets/js/core/highchart/highcharts.js"></script>
<script src="/static/assets/js/core/highchart/exporting.js"></script>
<script src="/static/assets/js/core/highchart/export-data.js"></script>
<script src="/static/assets/js/core/highchart/accessibility.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
<script src="/static/assets/js/plugins/bootbox.min.js"></script>
<script src="/static/custom/js/main.js"></script>
<script src="/static/custom/js/chartData.js"></script>
<script src="/static/custom/js/chart.js"></script>

<script type="text/javascript">
  var headings = '{{headings|safe}}';
  var holes = '{{hole|safe}}';
  var projectname = '{{ project.name|safe }}'
  var projectid = '{{ project.id|safe }}'

  var headings = JSON.parse(headings);
  var hole_data = JSON.parse(holes);
  var hole_list = []
  for (var key in hole_data) {
    hole_list.push(key);
  }
  var chartlist = '{{ chartlist|safe }}'
  var chartjson = '{{ chartjson|safe }}'
  var chartlist = JSON.parse(chartlist);
  var chartjson = JSON.parse(chartjson);
  var headings_factual = headings.factual

  var modal = document.getElementById("myModal");
  var btn = document.getElementById("myBtn");
  var span = document.getElementsByClassName("close")[0];

  var defaultmodal = document.getElementById("defaultprofileModal");
  var btndefault = document.getElementById("defaultprofile");
  var spandefault = document.getElementById("close-default-modal");


  var chartdict = chartjson;
  function profile_edit(){
    for (i = 0; i < chartlist.length; i++) {
      chartnumber = i+1
      id = '#profile-edit-'+chartnumber.toString()
      $(id).removeClass('hide');
    } 
    $('#profile-filter').removeClass('hide');
    $('#myBtn').removeClass('hide');
  }

</script>
<script src="/static/custom/js/projectprofile.js"></script>
<script src="/static/custom/js/project.js"></script>
<script src="/static/custom/js/map.js"></script>

<script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.js"></script>
<script type="text/javascript">
    $('#table_borehole').DataTable();
    $('#table_ags').DataTable();
</script>

{% endblock javascripts %}


