{% extends "layouts/base.html" %}

{% block title %} Projects {% endblock %}

{% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th class="text-center">#</th>
                <th class="text-center">Profile Name</th>
                <th class="text-center">Project Name</th>
                <th class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for profile in profiles %}
              <tr>
                <td class="text-center">{{ forloop.counter }} </td>
                <td class="text-center">{{ profile.name }}</td>
                <td class="text-center">{{ profile.project.name }}</td>
                </td>
                <td class="td-actions text-center">
                    <button type="button" rel="tooltip" class="btn" data-original-title="" title=""
                    onclick='window.location.href="{% url 'profile-details' profile.project.id profile.id %}"'>
                    <i class="material-icons">check</i>
                  </button>
                  <button type="button" rel="tooltip" class="btn" data-original-title="" title=""
                    onclick='window.location.href="{% url 'delete-profile' profile.id %}"'>
                    <i class="material-icons">close</i>
                  </button>
                  <!-- <button type="button" rel="tooltip" class="btn" data-original-title="" title=""
                    onclick='window.location.href="/media/{{ profile.id }}"'>
                    <i class="material-icons">download</i>
                  </button> -->
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}