<div class="col-md-6 ml-auto mr-auto text-center">
  <h2 class="title">{{ project.name }}</h2>
  <h5 class="">{{ project.summery }}</h5>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card " style="min-height:10vh;  max-height: 10vh; z-index: 0;">
      <div class="card-body text-center">
        <div class="row">
          <div class="col-md-4">
            <ul class="nav nav-pills nav-pills-rose flex-column" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#link4" role="tablist">
                  Profile
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link5" role="tablist">
                  Tools Activated
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-8">
            <div class="tab-content">
              <div class="tab-pane active" id="link4">
                Project {{ project.name }} has 13 borehole and {{ profile }} Profile generated
              </div>
              <div class="tab-pane" id="link5">
                Following Tools are activated:
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body ">
        <div id="detail-map" style="min-height:40vh;  max-height: 40vh; z-index: 0;">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header card-header-icon card-header-rose">
        <div class="card-icon">
          <i class="material-icons">assignment</i>
        </div>
        <h4 class="card-title mt-0"> Bore Hole</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive" style="min-height:35vh;  max-height: 48vh;">
          <table class="table table-striped" id="table_borehole">
            <thead>
              <tr>
                <th class="text-center">#</th>
                <th>Project</th>
                <th>Borehole</th>
                <th>Longitude</th>
                <th>Latitude</th>
                <th>Existing GL</th>
                <th>Water Level</th>
              </tr>
            </thead>
            <tbody>
              {% for hole in holetable %}
              <tr>
                <td class="text-center">{{ forloop.counter }} </td>
                <td>{{ hole.ags }}</td>
                <td>{{ hole.LOCA_ID }}</td>
                <td>{{ hole.longitude }}</td>
                <td>{{ hole.latitude }}</td>
                <td>{{ hole.LOCA_GL }}</td>
                <td>{{ hole.MOND_RDNG }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

