{% extends "layouts/base-landing.html" %}
{% block meta %}
<title>Orycta</title>
<meta name="keywords"
  content="Orycta, Orycta Data Management, Orycta Consulting, Orycta Geotechnical, AGS geotechnical data, Geotechnical Engineering Consulting, Geotechnical Automation">
<meta name="description"
  content="Orycta Data Management and Geoconsulting. In-depth analysis of geotechnical data. Unlock the science. Decode your geo-data.">
{% endblock %}
{% block stylesheets %}{% endblock stylesheets %}
{% load static %}
{% load widget_tweaks %}
{% block css %}
<style>
  p {
    color: black;
  }

  label {
    color: black;
  }

  .contact-text {
    display: inline;
  }

  .contactform {
    width: 100%;
    border: none;
    height: 1.4rem;
    margin-bottom: 1.4rem;
    border-bottom: 1px solid #4d343f;
    display: block;
  }

  .contactformmessage {
    width: 100%;
    border: none;
    height: 6rem;
    margin-bottom: 1.4rem;
    border-bottom: 1px solid #4d343f;
    display: block;
  }

  .material-icons {
    font-size: 2.5rem;
  }

  .pe-5 {
    padding-right: 4rem !important;
    padding-left: 4rem;
  }

  span.number {
  font-size: 1.1rem;
}
</style>
{% endblock css %}
{% block content %}

<div class="page-header align-items-start min-vh-100"
  style="background-image: url('/static/assets-landing/img/bg.jpg');" loading="lazy">
  <span class="mask bg-gradient-dark "></span>
  <div class="container" style="margin-top:20%;">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center mx-auto my-auto">
        <h2 class="text-white">Unlock the Science. Decode your Data.</h2>
        <p class="lead mb-4 text-white opacity-8">In depth analysis of geotechnical data focusing on valuable, project
          specific insights.
          Interpretation made easy so that you can draw meaningful decisions and turn geotechnical risk into a unique
          competitive advantage.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
  <section class="py-7">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="row justify-content-start">
            <div class="col-md-6">
              <div class="info">
                <i class="material-icons text-3xl text-gradient text-info mb-3">layers</i>
                <h5>Decode</h5>
                <p>On the fly, in depth analysis of large
                  geotechnical data sets. Evaluate and view
                  your data in a dynamic format, draw
                  meaningful conclusions and limit
                  geotechnical related risk for your projects.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info">
                <i class="material-icons text-3xl text-gradient text-info mb-3">leaderboards</i>
                <h5>Manage</h5>
                <p>Manage your geodata in a
                  completely new way. Forget PDF
                  reports and manual data entries. Use dynamic visualization, streamline and standarize reporting.</p>
              </div>
            </div>
          </div>
          <div class="row justify-content-start mt-4">
            <div class="col-md-6">
              <div class="info">
                <i class="material-icons text-3xl text-gradient text-info mb-3">sd_storage</i>
                <h5>Store</h5>
                <p>Store your geodata with us in secure and centerlize cloud database.
                  Harvest the power of deep data analysis and turn your current geo data into knowledge. Store to use,
                  not to forget.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info">
                <i class="material-icons text-3xl text-gradient text-info mb-3">share</i>
                <h5>Share</h5>
                <p>Seemingly share your data and dynamic
                  reports with other users. Enable strong
                  collaborations and transfer knowledge and
                  insights with a click of a button.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 ms-auto mt-lg-0 mt-4">
          <div class="card">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <a class="d-block blur-shadow-image">
                <img src="/static/assets-landing/img/bg-tool.jpg" alt="img-colored-shadow"
                  class="img-fluid border-radius-lg">
              </a>
            </div>
            <div class="card-body text-center">
              <h5 class="font-weight-normal">
                <a href="javascript:;">Information into knowledge.</a>
              </h5>
              <p class="mb-0">
                In depth analysis of geotechnical data focusing on valuable, project specific insights.
              </p><br>
              <p class="mb-0">
                Decode. Manage. Store. Share.
              </p>
              <a href="{% url 'login' %}" class="btn bg-gradient-info btn-sm mb-0 mt-3">Geo-data platform</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- -------- START PRE-FOOTER 1 w/ SUBSCRIBE BUTTON AND IMAGE ------- -->
  <section class="py-3 mt-1">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 position-relative">
          <div class="row bg-gray-100 bottom-0 py-7">
            <div class="col-lg-5 my-auto">
              <h2 class="card-title pe-5">Geo-consulting</h2>
              <p class="pe-5">With focus on safety,sustainability and efficiency, we offer tailored made
                geoconsulting
                services. Our geoscientists, engineers and experts combine data analysis with deep knowledge of
                geotechnical
                engineering to provide comprehensive solutions for your projects. </p>
              <p class="pe-5">Experience geotechnical engineering of
                the 21st century. Harvest the power of automation, parametrization and machine learning. Harvest the
                power of your
                geodata.
              </p>
            </div>
            <div class="col-lg-7 mt-lg-0 mt-5 ps-lg-0 ps-0">
              <div class="p-3 info-horizontal">
                <div class="description ps-3">
                  <p class="mb-0"><span class=number>1. </span>Site characterization and geohazard studies </p>
                </div>
              </div>
              <div class="p-3 info-horizontal">
                <div class="description ps-3">
                  <p class="mb-0"><span class=number>2. </span>Advanced numerical modelling and analysis using 2D/3D finite elements.</p>
                </div>
              </div>
              <div class="p-3 info-horizontal">
                <div class="description ps-3">
                  <p class="mb-0"><span class=number>3. </span>Soil improvement recommendations and design
                    Blackgold.</p>
                </div>
              </div>
              <div class="p-3 info-horizontal">
                <div class="description ps-3">
                  <p class="mb-0"><span class=number>4. </span>Foundation design / shoring design.</p>
                </div>
              </div>
              <div class="p-3 info-horizontal">
                <div class="description ps-3">
                  <p class="mb-0"><span class=number>5. </span>Data analysis and interpretation.</p>
                </div>
              </div>
              <div class="p-3 info-horizontal">
                <div class="description ps-3">
                  <p class="mb-0"><span class=number>6. </span>Slope stability analysis.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="py-3" id="contact-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h3 class="mb-5"></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-12 col-12">
          <div class="card card-blog card-background cursor-pointer">
            <div class="full-background" style="background-image: url('/static/assets-landing/img/contacts.jpeg')"
              loading="lazy"></div>
            <div class="card-body">
              <div class="content-left text-start my-auto py-4">
                <h2 class="card-title text-white">Get in touch</h2>
                <h6 class="card-description text-white">Have an interesting project or want to know more?</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-sm-6">
          <div class="card card-plain">
            <P>We provide In depth analysis of geotechnical data focusing on valuable, project specific insights.
              Interpretation made easy so that you can draw meaningful decisions and turn geotechnical risk into a
              unique competitive advantage.</P>
            <P>Want to leave feedback, found a bug or have a great idea for our next tool development? 
               <br>
               Please do not hesitate to contact us at
              <a href="mailto:info@example.com"> info@orycta.com</a>
            </P>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <form action="" method="post">
            {% csrf_token %}
            {% for error in form.non_field_errors %}
            <div class="form-group has-error">{{ error }}</div>
            {% endfor %}
            {% for field in form %}
            <div class="form-group bmd-form-group">
              <label for="exampleEmail" class="bmd-label-floating">{{ field.label_tag }}</label>
              {% for error in field.errors %}
              <div class="alert messages">{{ error }}</div>
              {% endfor %}
              {{ field }}
            </div>
            {% endfor %}
            <input type="submit" value="Submit" class="btn bg-gradient-primary" style="float: right;">
          </form>
        </div>

      </div>
    </div>
  </section>
</div>




{% endblock content %}