{% extends "layouts/base.html" %}

{% block title %} Add Project {% endblock %}

{% load static %}

{% load widget_tweaks %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

{{ form.media }}

<div class="row">
    <div class="col-md-3">
        <div class="card ">
            <div class="card-body text-center">
                {% if messages %}
                {% for message in messages %}
                <p>{{ message }}</p>

                <br>
                {% if '/project' in request.path %}
                    <button class="btn btn-primary" onclick='window.location.href="{% url 'project' %}"' style = 'margin: 0 3%;'><i
                            class="material-icons" >content_paste</i> Back to project</button>
                {% endif %}
                {% if '/ags' in request.path %}
                    <button class="btn btn-primary" onclick='window.location.href="{% url 'project-details' project %}"' style = 'margin: 0 3%;'><i
                                class="material-icons" >content_paste</i> Back to project</button>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}