<!DOCTYPE html>
{% extends "layouts/base.html" %}

{% block title %} AGS To Excel {% endblock %}
{% load static %}
{% load widget_tweaks %}
{% block stylesheets %}
<style>
    .hidden{
        display:None;
    }
    .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    .switch {
      position: relative;
      display: inline-block;
      width: 30px;
      height: 15px;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #737373;
      transition: .3s;
      border-radius: 15px;
    }
    
    .slider:after {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      border-radius : 20px;
      left: -10px;
      top: -2.5px;
      border: solid 1px #737373;
      box-shadow: #737373 0px 1px 3px 1px;
      background-color: white;
      transition: .3s;
    }
    
    input:checked + .slider {
      background-color: #372129;
    }

    input:checked + .slider:after {
      transform: translateX(30px);
    }

    .slider:active:after {
        box-shadow: 0px  0px 15px 2px #372129;
      }

</style>
<link rel="stylesheet" href="/static/custom/css/style.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock stylesheets %}

{% block content %}

<div class="row">
    <div class="col-md-10 ml-auto mr-auto">
        <div class="page-categories">
            <h3 class="title text-center">AGS To Excel</h3>
            <br>
            <ul class="nav nav-pills nav-pills-warning nav-pills-icons justify-content-center" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#link7" role="tablist">
                        <i class="material-icons">info</i> Description
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#link8" role="tablist">
                        <i class="material-icons">timeline</i> Transform
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#link9" role="tablist">
                        <i class="material-icons">gavel</i> Reference
                    </a>
                </li>
            </ul>
            <div class="tab-content tab-space tab-subcategories">
                <div class="tab-pane" id="link7">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 ml-auto mr-auto">
                                    <p>This is an easy-to-use AGS to excel online file convertor. Transform your . ags
                                        files to .xlsx files so you can review your data with ease. The tool gives you
                                        the option to generate and include on the output file useful summary tables for
                                        your field and laboratory data.
                                    </p>
                                        <p>

                                        The AGS to excel convertor works with AGS 3.0, 4.0 or 4.1 formats

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane active" id="link8">
                    <div class="card">
                        <div class="card-body">
                            <form id="TypeValidation" class="form-horizontal" method="post"
                                enctype="multipart/form-data" onsubmit="return checkform(this);">
                                {% csrf_token %}
                                <div class="row tool-form">
                                    <div class="col-md-2">
                                        <div class="card-header">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        {% for error in form.non_field_errors %}
                                        <div class="form-group has-error">{{ error }}</div>
                                        {% endfor %}

                                        {% for field in form %}
                                        <div class="row">
                                            {% for error in field.errors %}
                                            <div class="alert alert-danger col-12 text-center"id="alert" role="alert">{{ error }}</div>
                                            {% endfor %}
                                            <label class="col-sm-4 col-form-label">Please upload your AGS file:</label>
                                            <div class="col-sm-8">
                                                <div class="form-group bmd-form-group">
                                                    {{ field | add_class:"form-control" |attr:"onchange : removeAlerts()" }}
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}

                                        <label class="col-sm-12 col-form-label">The following information can be added as additional
                                            tabs to the generated file</label>
                                        <div class="row">
                                            <label class="col-sm-6 col-form-label">Basic information for your .ags
                                                file</label>
                                            <div class="col-sm-6 col-form-label">
                                                <label class="switch">
                                                    <input type="checkbox" id="info" name="info">
                                                    <span class="slider round"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-6 col-form-label">Summary of field and laboratory
                                                data</label>
                                            <div class="col-sm-6 col-form-label">
                                                <label class="switch">
                                                    <input type="checkbox" id="summary" name="summary">
                                                    <span class="slider round"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row hidden">
                                            <label class="col-sm-5 col-form-label">Select format</label>
                                            <div class="col-sm-7 col-form-label">
                                                <select style="text-align:center;" id="format" name="format" required>
                                                    <!-- <option hidden disabled selected value> -- Select a format --
                                                    </option> -->
                                                    <option value="Excel" selected>Excel</option>
                                                </select>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row tool-form">
                                            <button class="btn btn-rose" type="reset"
                                                style="margin-left:1% ;">Reset</button>
                                            <button class="btn btn-rose" type="submit" id="convertbutton"
                                                style="margin-left:1% ;" onclick="myFunction()">
                                                Convert</button>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="card-header">
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="link9">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Reference</h5>
                        </div>
                        <div class="card-body">

                            <ol>
                                <li>AGS.org.uk/data-format, Association of Geotechnical & Geoenviornmental Specialists,
                                    2015-23.</li>
                            </ol>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



{% endblock %}
{% block javascripts %}
<script>
    
    function myFunction() {
        document.getElementById("TypeValidation").submit();
        document.querySelector('#convertbutton').innerHTML = '<i class = "fa fa-spinner fa-spin"></i> Please wait...';
    }
    function removeAlerts(){
        document.getElementById("alert").style.display = 'none';
    }
</script>
{% endblock javascripts %}