<!DOCTYPE html>
{% extends "layouts/base.html" %}

{% block title %} Bearing Capacity Calculator {% endblock %}
{% load static %}
{% block content %}
    <style>
        #hidden_div {
        display: none;
        }
    </style>

    <h1>Bearing Capacity for shallow foundation</h1> 
    {% comment %} <img src={%static "images/1.jpg"%}> {% endcomment %}
    
    <p><span class="math display">$$ \frac{R}{A'} = C' \cdot N_{c} \cdot b_{c} \cdot S_{c}  + q' \cdot N_{q} \cdot b_{q} \cdot S_{q} + 0.5\cdot \gamma' \cdot B' \cdot N_{\gamma}\cdot b_{\gamma} \cdot S_{\gamma} $$</span></p>
the bearing resistance:
$$ N_{q} = e^{\pi tan\,\,\varphi'}tan^{2}(45 + \varphi/2)$$
$$ N_{c} = (N_{q} - 1)cot\,\,\varphi'$$
$$ N_{\gamma} = 2(N_{q} - 1)tan\,\,\varphi' , where&emsp; \delta \geq \varphi'/2$$
the inclination of the foundation base:
$$ b_{q} = b_{\gamma}= (1-\alpha.tan\,\,\varphi')^{2}$$
$$ b_{c} = b_{q} - (1-b_{q})/(N_{c}\cdot tan\,\,\varphi')$$
the shape of foundation:<br>
\(s_{q} = 1 + (B'/L')sin\,\, \varphi'\) &emsp;,for a rectangular shape <br>
\(s_{q} = 1 + sin\,\, \varphi' \)&emsp;,for a square or circular shape<br>
\(s_{\gamma} = 1 - 0.3 (B'/L') \) &emsp;,for a rectangular shape<br>
\(s_{\gamma} = 0.7\) &emsp;,for a square or circular shape<br>
\(s_{c} = (s_{q}\cdot N_{q} - 1)/(N_{q} - 1) \)&emsp;,for rectangular, square or circular shape<br>

    <form method ="POST">
        {% csrf_token %}
        <div class ="row">
            <div class="col-md-4">
                <h4 >Bearing Capacity Methodology:</h4>
            </div>
            <select name="method" id="method"  style ="width: 200px; text-align:center;" onchange="showDiv(this)">
                <option value="Meyerhof" >Meyerhof</option>
                <option value="Hansen" >Hansen</option>
                <option value="vesic">vesic</option>
                <option value="Terzaghi" >Terzaghi</option>
            </select>
        </div>
        <div class ="row">
            <h4>Foundation Dimensions :</h4>  
        </div>   
        <div class ="row">
            <div class="col-md-4">
                <h4>Width, B (m) =</h4>  
            </div> 
            <div >
                <input type="number" id="width" name="width" min="0.1" step=".01"  required >
            </div>
        </div>
        <div class ="row">
            <div class="col-md-4">
                <h4>Length, L (m) =</h4>  
            </div> 
            <div >
                <input  type="number" id="length" name="length" min="0.1" step=".01"  required >
            </div>
        </div>
        <div class ="row">
            <div class="col-md-4">
                <h4>Embedment depth of footings, Df (m) =</h4>  
            </div> 
            <div >
                <input  type="number" id="df" name="df" min="0.1" step=".01"  required >
            </div>
        </div>
        <div class ="row">
            <div class="col-md-4">
                <h4>Depth to Water, Dw (m) =</h4>  
            </div> 
            <div >
                <input  type="number" id="dw" name="dw" min="0.1" step=".01"  required >
            </div>
        </div>
        <div class ="row">
            <h4>Soil Parameters :</h4>  
        </div>
        <div class ="row">
            <div class="col-md-4">
                <h4>Friction Angle, ᵠ (°) =</h4>  
            </div> 
            <div >
                <input  type="number" id="Friction_Angle" name="Friction_Angle" min="0.1" step=".01"  required >
            </div>
        </div>
        <div class ="row">
            <div class="col-md-4">
                <h4>Cohesion, c (kPa) =</h4>  
            </div> 
            <div >
                <input  type="number" id="Cohesion" name="Cohesion" min="0.1" step=".01"  required >
            </div>
        </div>
        <div class ="row">
            <div class="col-md-4">
                <h4>Unit Weight, γ (kN/m3) =</h4>  
            </div> 
            <div >
                <input  type="number" id="Unit_Weight" name="Unit_Weight" min="0.1" step=".01"  required >
            </div>
        </div>
        <div class ="row">
            <h4>Angles:</h4>  
        </div>
        <div class ="row">
            <div class="col-md-4 ">
                <h4>alpha, α (°) =</h4>  
            </div > 
            <div >
                <input  type="number" id="alpha" name="alpha" min="0" step=".01"  required >
            </div>
        </div>
        <div class ="row" >
            <div class="col-md-4 " id="hidden_div" >
                <h4>beta, β (°) =</h4>  
            </div> 
            <div id="hidden_div">
                <input  type="number" id="beta" name="beta" min="0" step=".01"  >
            </div>
        </div>
        <div  class ="row" >
            <div class="col-md-4 " id="hidden_div">
                <h4>eta, η (°) =</h4>  
            </div >
            <div id="hidden_div">
                <input  type="number" id="eta" name="eta" min="0" step=".01"  >
            </div>
        </div> 
        <div class ="row">
            <h4>Factor of safety :</h4>  
        </div>
        <div class ="row">
            <div class="col-md-4">
                <h4>Factor of safety =</h4>  
            </div> 
            <div >
                <input  type="number" id="Factor_of_safety" name="Factor_of_safety" min="1" step=".01"  required >
            </div>
        </div>
        <div class ="col-md-4" style = "position: relative;  left:55%; top:10px;">
            <button class="btn btn-success" type= "submit" >calculate</button>  
        </div>

    </form>

{% endblock %}

{% block javascripts %}
    <!-- MathJax version 3 snippet -->
    <script type="text/javascript" id="MathJax-script"
		src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script>
        function showDiv(element)
        {
            if ((element.value == "vesic")|(element.value == "Hansen"))
            {var elements = document.querySelectorAll('[id=hidden_div]'); ;
                for(var i = 0; i < elements.length; i++) {
                    elements[i].style.display = 'block';
                };
            document.getElementById("beta").setAttribute('required', '');
            document.getElementById("eta").setAttribute('required', '');
            }
            else {var elements = document.querySelectorAll('[id=hidden_div]'); ;
            for(var i = 0; i < elements.length; i++) {
                elements[i].style.display = 'none';
            };
            document.getElementById("beta").removeAttribute('required');
            document.getElementById("eta").removeAttribute('required');}
            
        }
    </script>
{% endblock javascripts %}