{% extends "layouts/base.html" %}

{% block title %} Tools {% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <div class="card ">
      <div class="card-header ">
        <h4 class="card-title">Tool-2</h4>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-lg-4 col-md-6">

            <ul class="nav nav-pills nav-pills-rose nav-pills-icons flex-column" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#link110" role="tablist">
                  <i class="material-icons">dashboard</i> About
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link111" role="tablist">
                  <i class="material-icons">schedule</i> Results
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="" role="tablist">
                  <i class="material-icons">timeline</i> Run
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-8">
            <div class="tab-content">
              <div class="tab-pane active" id="link110">
                Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C
                users after installed base benefits.
                <br>
                <br> Dramatically visualize customer directed convergence without revolutionary ROI. Collaboratively
                administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after
                installed base benefits.
                <br>
                <br> Dramatically visualize customer directed convergence without revolutionary ROI. Collaboratively
                administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after
                installed base benefits.
              </div>
              <div class="tab-pane" id="link111">
                Efficiently unleash cross-media information without cross-media value. Quickly maximize timely
                deliverables for real-time schemas.
                <br>
                <br>Dramatically maintain clicks-and-mortar solutions without functional solutions.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card ">
      <div class="card-header ">
        <h4 class="card-title">Tool-1</h4>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-lg-4 col-md-6">

            <ul class="nav nav-pills nav-pills-rose nav-pills-icons flex-column" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#link110" role="tablist">
                  <i class="material-icons">dashboard</i> About
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link111" role="tablist">
                  <i class="material-icons">schedule</i> Results
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="" role="tablist">
                  <i class="material-icons">widgets</i> Run
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-8">
            <div class="tab-content">
              <div class="tab-pane active" id="link110">
                Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C
                users after installed base benefits.
                <br>
                <br> Dramatically visualize customer directed convergence without revolutionary ROI. Collaboratively
                administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after
                installed base benefits.
                <br>
                <br> Dramatically visualize customer directed convergence without revolutionary ROI. Collaboratively
                administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after
                installed base benefits.
              </div>
              <div class="tab-pane" id="link111">
                Efficiently unleash cross-media information without cross-media value. Quickly maximize timely
                deliverables for real-time schemas.
                <br>
                <br>Dramatically maintain clicks-and-mortar solutions without functional solutions.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card ">
      <div class="card-header ">
        <h4 class="card-title">Tool-3</h4>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-lg-4 col-md-6">

            <ul class="nav nav-pills nav-pills-rose nav-pills-icons flex-column" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#link110" role="tablist">
                  <i class="material-icons">dashboard</i> About
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link111" role="tablist">
                  <i class="material-icons">schedule</i> Results
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="" role="tablist">
                  <i class="material-icons">timeline</i> Run
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-8">
            <div class="tab-content">
              <div class="tab-pane active" id="link110">
                Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C
                users after installed base benefits.
                <br>
                <br> Dramatically visualize customer directed convergence without revolutionary ROI. Collaboratively
                administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after
                installed base benefits.
                <br>
                <br> Dramatically visualize customer directed convergence without revolutionary ROI. Collaboratively
                administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after
                installed base benefits.
              </div>
              <div class="tab-pane" id="link111">
                Efficiently unleash cross-media information without cross-media value. Quickly maximize timely
                deliverables for real-time schemas.
                <br>
                <br>Dramatically maintain clicks-and-mortar solutions without functional solutions.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card ">
      <div class="card-header ">
        <h4 class="card-title">Tool-4</h4>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-lg-4 col-md-6">

            <ul class="nav nav-pills nav-pills-rose nav-pills-icons flex-column" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#link110" role="tablist">
                  <i class="material-icons">dashboard</i> About
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link111" role="tablist">
                  <i class="material-icons">schedule</i> Results
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="" role="tablist">
                  <i class="material-icons">widgets</i> Run
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-8">
            <div class="tab-content">
              <div class="tab-pane active" id="link110">
                Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C
                users after installed base benefits.
                <br>
                <br> Dramatically visualize customer directed convergence without revolutionary ROI. Collaboratively
                administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after
                installed base benefits.
                <br>
                <br> Dramatically visualize customer directed convergence without revolutionary ROI. Collaboratively
                administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after
                installed base benefits.
              </div>
              <div class="tab-pane" id="link111">
                Efficiently unleash cross-media information without cross-media value. Quickly maximize timely
                deliverables for real-time schemas.
                <br>
                <br>Dramatically maintain clicks-and-mortar solutions without functional solutions.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}