
<!DOCTYPE html>
{% extends "layouts/base.html" %}
{% block title %} Download your file {% endblock %}
{% load static %}
{% load widget_tweaks %}
{% block stylesheets %}
<link rel="stylesheet" href="/static/custom/css/style.css" />
{% endblock stylesheets %}
{% block content %}

<div class="row">
    <div class="col-md-10 ml-auto mr-auto">
        <div class="card ">
            <div class="card-body">
                <h3 class="title text-center">Download your file</h3>
                {% if file_path %}
                <div class="row">
                    <div class="col-md-12 ml-auto mr-auto">
                        <p>General Information: <br>
                            Project ID: <b style = "color: #33C4FF;">{{Project_ID}}</b><br>
                            Project Name: <b style = "color: #33C4FF;">{{Project_Name}}</b><br>
                            Project Location: <b style = "color: #33C4FF;">{{Project_Location}}</b><br>
                            Client: <b style = "color: #33C4FF;">{{Client}}</b><br>
                            Originator: <b style = "color: #33C4FF;">{{Originator}}</b><br>
                            The file contains a total of  <b style = "color: #33C4FF;">{{N_Borehole}}</b> boreholes 
                            with an average ground level of <b style = "color: #33C4FF;">{{Average_Ground_Level}} </b>m, an average 
                            water level of <b style = "color: #33C4FF;">{{Average_Water_Level}} </b>m and a maximum drilling depth of 
                            <b style = "color: #33C4FF;">{{Max_Borehole_depth}} </b>m. The total drilled depth for all boreholes was 
                            <b style = "color: #33C4FF;">{{total_drilled}}</b> m.

                        </p>
                    </div>
                </div>
                {% else %}
                <div class="row">
                    <div class="col-md-12 ml-auto mr-auto">
                        <p>General Information: <br>
                            Ags File Name: <b style = "color: #33C4FF;">{{name}}</b><br>
                            File Size: <b style = "color: #33C4FF;">{{size}}</b> <br>
                            AGD Version: <b style = "color: #33C4FF;">{{version}}</b><br>
                            Project ID: <b style = "color: #33C4FF;">{{Project_ID}}</b> <br>
                            Project Name: <b style = "color: #33C4FF;">{{Project_Name}}</b> <br>
                            Project Location: <b style = "color: #33C4FF;">{{Project_Location}}</b> <br>
                            Client: <b style = "color: #33C4FF;">{{Client}}</b> <br>
                            Originator: <b style = "color: #33C4FF;">{{Originator}}</b><br><br>
                            This file contains a total of  <b style = "color: #33C4FF;">{{N_Borehole}}</b>  boreholes 
                            with an average ground level of <b style = "color: #33C4FF;">{{Average_Ground_Level}}</b>  m, an average 
                            water level of <b style = "color: #33C4FF;">{{Average_Water_Level}}</b> m and a maximum drilling depth of 
                            <b style = "color: #33C4FF;">{{Max_Borehole_depth}}</b>  m.<br>
                            A total of <b style = "color: #33C4FF;">{{total_errors}}</b> notifications or errors were found on the uploaded file.<br>
                            A complete error log and a summary of all field, laboratory and chemical 
                            test data is included at the download links below.
                        </p>
                    </div>
                </div>
                {% endif %}
                <br>
                <div class="row tool-form">
                    {% if file_path %}
                    <a  href="{% url 'AGSToExcel' %}" ><button class="btn btn-rose" 
                        type="button">Convert another file</button></a>
                    <a href="/{{file_path}}" download>
                        <button type="button" rel="tooltip" 
                        class="btn btn-rose" style="margin-left:5%;">
                        <i class="material-icons">download</i>Download your file
                        </button>
                    </a>
                    
                    {% else %}
                    <a  href="{% url 'AGSValidator' %}" ><button class="btn btn-rose" 
                        type="button">Validate another file</button></a>
                    <a href="/{{error_path}}" download>
                        <button type="button" rel="tooltip" 
                        class="btn btn-rose" style="margin-left:5%;">
                        <i class="material-icons">download</i>Download errors file
                        </button>
                    </a>
                    <a href="/{{summary_path}}" download>
                        <button type="button" rel="tooltip" 
                        class="btn btn-rose" style="margin-left:10%;">
                        <i class="material-icons">download</i>Download summary file
                        </button>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
