{% extends "layouts/base.html" %}

{% block title %} Tools {% endblock %}

{% load filename %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/custom/css/style.css" />
{% endblock stylesheets %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <div class="card tool-summery">
      <div class="card-header ">
        <h4 class="card-title">AGS to EXCEL</h4>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-lg-4 col-md-6">

            <ul class="nav nav-pills nav-pills-rose nav-pills-icons flex-column" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#link50" role="tablist">
                  <i class="material-icons">dashboard</i> About
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'AGSToExcel' %}" role="tablist">
                  <i class="material-icons">timeline</i> Run the app
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-8">
            <div class="tab-content">
              <div class="tab-pane active" id="link50">
                This is an easy-to-use AGS to excel online file convertor. Transform your .ags 
                files to .xlsx files so you can review your data with ease. <br><br>
                The tool gives you the option to generate and include on the output useful 
                summary tables for your field and laboratory data. Get on the fly information 
                on what’s included in your ags files.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card tool-summery">
      <div class="card-header ">
        <h4 class="card-title">AGS Validator</h4>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-lg-4 col-md-6">

            <ul class="nav nav-pills nav-pills-rose nav-pills-icons flex-column" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#link60" role="tablist">
                  <i class="material-icons">dashboard</i> About
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'AGSValidator' %}" role="tablist">
                  <i class="material-icons">timeline</i> Run the app
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-8">
            <div class="tab-content">
              <div class="tab-pane active" id="link40">
                This is an online AGS validation tool. Upload your .ags files to review and verify
                their format and content.<br><br>
                Works for AGS 3.0, 4.0 or 4.1 formats in line with Association of Geotechnical &
                Geoenvironmental Specialists (AGS.org).
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
<div class="row">
  
  

  
</div>
{% endblock content %}