{% extends "layouts/base.html" %}

{% block title %} Tools {% endblock %}

{% load filename %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/custom/css/style.css" />
{% endblock stylesheets %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <div class="card tool-summery">
      <div class="card-header">
        <h4 class="card-title">N-SPT Correction</h4>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <ul class="nav nav-pills nav-pills-rose nav-pills-icons flex-column" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#link20" role="tablist">
                  <i class="material-icons">dashboard</i> About
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link21" role="tablist">
                  <i class="material-icons">schedule</i> Results
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'NSPT' %}" role="tablist">
                  <i class="material-icons">timeline</i> Activate
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-8">
            <div class="tab-content">
              <div class="tab-pane active" id="link20">
                N-SPT values observed during testing are not utilized directly in the assessment
                of soil properties. These values need to be corrected to account for hammer efficiency
                , borehole diameter,sampling method, rod length and the overburden pressure.
                Current tool sets the rules to allow the calculations for the correct SPT numbers,
                N60 and (N1)60. You can activate the tool and then go back to project page to plot
                corrected SPT numbers with depth.

              </div>
              <div class="tab-pane" id="link21">
                <p>Activated ags files</p>
                <table class="table">
                <thead>
                  <tr class= "text-center">
                    <th class="text-center">#</th>
                    <th class="text-center">project</th>
                    <th class="text-center">ags name</th>
                  </tr>
                </thead>
                  <tbody>
                    {% for file in nspt_activated %}
                    <tr>
                      <td class="text-center">{{ forloop.counter }} </td>
                      <td class="text-center">{{ file.project.name }}</td>
                      <td class="text-center">{{ file.ags_file|filename }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card tool-summery">
      <div class="card-header ">
        <h4 class="card-title">Relative Density Tool</h4>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-lg-4 col-md-6">

            <ul class="nav nav-pills nav-pills-rose nav-pills-icons flex-column" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#link30" role="tablist">
                  <i class="material-icons">dashboard</i> About
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link31" role="tablist">
                  <i class="material-icons">schedule</i> Results
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'RelativeDensity' %}" role="tablist">
                  <i class="material-icons">timeline</i> Acrivate
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-8">
            <div class="tab-content">
              <div class="tab-pane active" id="link30">
                One of the most important soil aggregate property is relative density.<br>
                The relative density of soil is used to describe the state of compactness of
                granular material and generally qualitatively described as very loose, loose,
                medium dense, dense and very dense. It is defined as the ratio of difference of
                void ratios in its loosest and densest state:<br>
                Dr = (e<sub>max</sub> – e<sub>current</sub>)/(e<sub>max</sub> –e<sub>min</sub>).

              </div>
              <div class="tab-pane" id="link31">
                <p>Activated ags files</p>
                <table class="table">
                <thead>
                  <tr class= "text-center">
                    <th style="width: 50px;" >#</th>
                    <th style="width: 50px;" >Method activated</th>
                    <th style="width: 100px;">project</th>
                    <th style="width: 250px;">ags name</th>
                  </tr>
                </thead>
                  <tbody>
                    {% for file in RelativeDensity_activated %}
                    <tr>
                      <td class="text-center">{{ forloop.counter }} </td>
                      <td>{{ file|first }}</td>
                      <td>{{ file|slice:'1:2'|first }}</td>
                      <td>{{ file|slice:'2:'|first }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

</div>
<div class="row">
  
  <div class="col-md-6">
    <div class="card tool-summery">
      <div class="card-header ">
        <h4 class="card-title">Friction Angle Tool</h4>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-lg-4 col-md-6">

            <ul class="nav nav-pills nav-pills-rose nav-pills-icons flex-column" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#link40" role="tablist">
                  <i class="material-icons">dashboard</i> About
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link41" role="tablist">
                  <i class="material-icons">schedule</i> Results
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'FrictionAngle' %}" role="tablist">
                  <i class="material-icons">timeline</i> Acrivate
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-8">
            <div class="tab-content">
              <div class="tab-pane active" id="link40">
                Friction angle together with cohesion define the shear strength parameters of soil. 
                Its definition is derived from the Mohr-Coulomb failure criterion. It can be determined 
                in the laboratory by direct shear test or triaxial tests or from theoretical correlations 
                with density or N SPT number.<br>
                <br>
                Current tool sets the rules to calculate friction angle for granular soils based on N SPT 
                number. You can activate the tool and then go back to project page to plot friction angle 
                with depth. 

              </div>
              <div class="tab-pane" id="link41">
                <p>Activated ags files</p>
                <table class="table">
                <thead>
                  <tr class= "text-center">
                    <th style="width: 50px;" >#</th>
                    <th style="width: 100px;">project</th>
                    <th style="width: 250px;">ags name</th>
                  </tr>
                </thead>
                  <tbody>
                    {% for file in FractionAngle_activated %}
                    <tr>
                      <td class="text-center">{{ forloop.counter }} </td>
                      <td>{{ file|first }}</td>
                      <td>{{ file|slice:'1:'|first }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="col-md-6">
    <div class="card tool-summery">
      <div class="card-header ">
        <h4 class="card-title">Bearing Capacity Calculator</h4>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-lg-4 col-md-6">

            <ul class="nav nav-pills nav-pills-rose nav-pills-icons flex-column" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#link110" role="tablist">
                  <i class="material-icons">dashboard</i> About
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link111" role="tablist">
                  <i class="material-icons">schedule</i> Results
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'bearingCapacity' %}" role="tablist">
                  <i class="material-icons">timeline</i> Activate
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-8">
            <div class="tab-content">
              <div class="tab-pane active" id="link110">
                Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C
                users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI. Collaboratively
                administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after
                installed base benefits.
              </div>
              <div class="tab-pane" id="link111">
                Efficiently unleash cross-media information without cross-media value. Quickly maximize timely
                deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
{% endblock content %}