<!DOCTYPE html>
{% extends "layouts/base.html" %}

{% block title %} NSPT Details {% endblock %}
{% load static %}

{% block content %}
Typical energy ration factors, C<sub>ER</sub> are defined in Table 1. <br>
Rod length correction factor, C<sub>RL</sub> is defined in Table 2.<br>
Sampling method correction factor, C<sub>S</sub> is defined in Table 3.<br>
Correction factor due to borehole diameter, C<sub>B</sub> is defined in Table 4.<br>
<div class="row">
    <div class ="col-md-7" >
        <img src={%static "assets/img/nsptmore_1.png"%}>
    </div>
    <div class ="col-md-3" >
        <img src={%static "assets/img/nsptmore_2.png"%}>
    </div>
</div>
<div class="row">
    <div class ="col-md-7" >
        <img src={%static "assets/img/nsptmore_3.png"%}>
    </div>
    <div class ="col-md-3" >
        <img src={%static "assets/img/nsptmore_4.png"%}>
    </div>
</div>
Overburden pressure correction factor, C<sub>N</sub> methods are defined below:<br>
<div class="row">
    <div class ="col-md-6" >
        <ol >
        
        <li>Peck, Hanson and Thornburn (1974)</li>
        \(C_{N} = 0.77 \cdot log(\frac{20}{\sigma'_{v0}(TSF)}) \)  <br> 
        <li>Seed (1976)</li>
        \(C_{N} = 1- 0.25 \cdot log \,\, \sigma'_{v0}(TSF) \)  <br>
        
        <li>Liao & Whitman (1986)</li>
        
        \(C_{N} = \sqrt\frac{1}{\sigma'_{v0} (TSF \,\, or \,\, kg/cm^2)} \)  <br>
        
        <li>Skempton (1986)</li>
        \(C_{N} =  \frac{2}{1+\sigma'_{v0}(TSF)} \) For Fine sand of medium D<sub>r</sub>.  <br>
        \(C_{N} =  \frac{3}{2+\sigma'_{v0}(TSF)} \)For dense, coarse sand when Normally consolidated (NC). <br>
        \(C_{N} =  \frac{3}{2+\sigma'_{v0}(TSF)} \) For Overconsolidated (OE) soil. <br>
        </ol >
    </div>
    <div class ="col-md-3" >
        <img src={%static "assets/img/nsptmore_5.png"%}>
    </div>
</div>

References:<br>
<ol >
<li>Geotechnical investigation and testing – Field testing – Part 3: Standard penetration test (ISO 22476-3:2005).</li>
<li>ASTM D 1586-99 Standard Test Method for Penetration Test and Split-Barrel Sampling of Soils.</li>
<li>Kovacs, W. D. Salomone, L. A., and Yokal, F. Y., “Comparison of Energy Measurements in the Standard Penetration Test Using the Cathead and Rope Method,” National Bureau of Standards Report to the US Nuclear Regulatory Commision, 1983.</li>
<li>Schmertman, J. H., “Use the SPT to Measure Dynamic Soil Properties ?-Yes, But..!”, Dynamic Geotechnical Testing, ASTM STP 654, American Society for Testing and Materials, 1978.</li>
<li>Seed, H. B., Tokimastu, K., Harder, L. F. and Chung, R. F., “Influence of SPT Procedures in Soil Liquefaction Resistance Evaluations,” Journal of Geotechnical Engineering, Vol. 111, No. 12, December 1985.</li>
<li>Skempton, A. W., “Standard Penetration Test Procedures and the Effects in Sands of Overburden Pressure, Relative Density, Particle Size, Ageing and Over Consolidation”, Geotechnique 36: 3, September, 1986.</li>
</ol>

<div  style = "position: fixed;  right:5%; bottom:3%;">
    <a   href= "{% url 'NSPT' %}" >
    <button class="btn btn-rose" type= "button" >Back to Tool</button> 
    </a> 
</div>
{% endblock %}
{% block javascripts %}
    <!-- MathJax version 3 snippet -->
    <script type="text/javascript" id="MathJax-script"
		src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    
{% endblock javascripts %}