<!DOCTYPE html>
{% extends "layouts/base.html" %}

{% block title %} Relative Density Details {% endblock %}
{% load static %}

{% block content %}
One of the most important soil aggregate property is relative density.<br> 
The relative density of soil is used to describe the state of compactness of granular 
material and generally qualitatively described as very loose, loose, medium dense, dense 
and very dense. <br> It is defined as the ratio of difference of void ratios in its loosest and 
densest state:<br> 
<br> 
Dr = (e<sub>max</sub> – e<sub>current</sub>)/(e<sub>max</sub> –e<sub>min</sub>).<br> 
<br> <br> 
There are many theoretical correlations of relative density with N SPT number. The two most important ones are outlined below:<br> 
Method 1: Terzaghi and Peck, 1967 correlates relative density with the uncorrected N SPT number (field data).<br> 
Current tool interpolates for intermediate values of Dr (%). <br> 

<div class="row">
    <div class ="col-md-7" >
        <img src={%static "assets/img/RelativeDensity_1.png"%}>
    </div>
</div>
Method 2: Skempton , 1986 correlates relative density with the corrected (N<sub>1</sub>)<sub>60</sub> number.<br> 
\(D_{r} = \sqrt \frac{(N_{1})_{60}}{60} \)  <br>
The constant number 60 depends on the average particle size D50 and can range from 55 for sine sand to 65 for coarse sand. This tool uses an average value of 60 throughout. <br> 


References:<br>
<ol >
<li>Terzaghi, K. and Peck, R.B. (1967) Soil Mechanics in Engineering Practice. John Wiley & Sons, New York.</li>
<li>T. W. Lambe and R. V. Whitman, 1969, Soil Mechanics. John Wiley & Sons, New York.</li>
<li>Skempton, A. W., 1986, Standard Penetration Test Procedures and the Effects in Sands of Overburden Pressure, Relative Density, Particle Size, Ageing and Over Consolidation, Geotechnique 36: 3.</li>
</ol>

<div  style = "position: fixed;  right:5%; bottom:3%;">
    <a   href= "{% url 'RelativeDensity' %}" >
    <button class="btn btn-rose" type= "button" >Back to Tool</button> 
    </a> 
</div>
{% endblock %}
{% block javascripts %}
    <!-- MathJax version 3 snippet -->
    <script type="text/javascript" id="MathJax-script"
		src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    
{% endblock javascripts %}