
<!DOCTYPE html>
{% extends "layouts/base.html" %}

{% block title %} Relative Density {% endblock %}
{% load static %}
{% load widget_tweaks %}
{% block stylesheets %}
<link rel="stylesheet" href="/static/custom/css/style.css" />
{% endblock stylesheets %}
{% block content %}
<style>
    #container {
        position: relative;
        display: none;  
    }
    i.error {
        color: red;
    }
    #container .errormessage{
        position: absolute;
        display: none;
        background-color: red;     
        width: 200px;    
        right: -50px;
        top: 20px; 
        border-radius: 10px;
        padding: 5px;
        color: white;
    }
    
    #container .errormessage:before {
        position: absolute;
        content: '';
        border-width: 10px;
        border-style: solid;
        border-color: rgba(255,255,255,0) rgba(255,255,255,0) red rgba(255,255,255,0);
        top: -20px; 
        left: 90px;    
    }
    
    #container  .error:hover + .errormessage {
        display: block;
    }
</style>
<div class="row">
    <div class="col-md-10 ml-auto mr-auto">
        <div class="page-categories">
            <h3 class="title text-center">Relative Density</h3>
            <br>
            <ul class="nav nav-pills nav-pills-warning nav-pills-icons justify-content-center" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#link7" role="tablist">
                        <i class="material-icons">info</i> Description
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#link8" role="tablist">
                        <i class="material-icons">timeline</i> Activate
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#link9" role="tablist">
                        <i class="material-icons">gavel</i> Reference
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#link10" role="tablist">
                        <i class="material-icons">help_outline</i> Help Center
                    </a>
                </li>
            </ul>
            <div class="tab-content tab-space tab-subcategories">
                <div class="tab-pane" id="link7">
                    {% include 'pages/tool/includes/RelativeDensityDetails.html' %}
                </div>
                <div class="tab-pane active" id="link8">
                    <div class="card">
                        <div class="card-body">
                            <form id="TypeValidation" class="form-horizontal" method="post"
                                enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row tool-form">
                                    <div class="col-md-2">
                                        <div class="card-header">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        {% for message in messages %}
                                                    <div class="alert alert-rose">
                                                        <button type="button" class="close" data-dismiss="alert"
                                                            aria-label="Close">
                                                            <i class="material-icons">close</i>
                                                        </button>
                                                        <span>
                                                            <b> info - </b> {{ message }}
                                                        </span>
                                                    </div>
                                                    {% endfor %}
                                        <div class="row ">
                                            <div class="col-md-4 card-header text-center">
                                                <h5 class="card-title">
                                                    Select Project
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group has-default bmd-form-group">
                                                    <select style="width: 300px; text-align:center;"
                                                        id="select-variable-first" name="select-variable-first"
                                                        onchange="getAgs(this)">
                                                        <option hidden disabled selected value> -- select a project -- </option>
                                                        {% for project in projects %}
                                                        <option value={{ project.id }}>{{ project.name }}
                                                        </option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-md-4 card-header text-center">
                                                <h5 class="card-title">
                                                    Select AGS File
                                                </h5>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group has-default bmd-form-group">
                                                    <select style="width: 300px; text-align:center;"
                                                        id="activate" name="select-variable-second"
                                                        required multiple>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-md-4 card-header text-center">
                                                <h5 class="card-title">
                                                    Select Method :
                                                </h5>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group has-default bmd-form-group">
                                                    <select style="width: 300px; text-align:center;" id="method" name="method" required>
                                                        <option hidden disabled selected value> -- select a method -- </option>
                                                        <option value="Terzaghi">Terzaghi and Peck </option>
                                                        <option value="Skempton">Skempton </option>
                                                        <option value="Both">Both </option>

                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row tool-form">
                                            <a  href="{% url 'tools' %}" ><button class="btn btn-rose" 
                                                type="button">Back To Tools</button></a>
                                            {%for project in projects|slice:":1"%}
                                            <a  id="backtoproject" href="{% url 'project-details' project.id %}" style="margin-left:1% ;"><button class="btn btn-rose" 
                                                type="button">Back To Project</button></a>
                                            {%endfor%} 
                                            <button class="btn btn-rose" type="reset" style="margin-left:1% ;">Reset</button>
                                            <button class="btn btn-rose" type="submit"
                                                style="margin-left:1% ;">Activate</button>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="card-header">
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="row tool-form">
                                <div class="col-md-2">
                                    <div class="card-header">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="row ">
                                        <div class="col-md-12">
                                            <div class="form-group has-default bmd-form-group">
                                                <table border ="2px" class= "table  text-center" id="table">
                                                    <thead>
                                                        <tr>
                                                            <th rowspan="2">Method</th>
                                                            <th>N SPT Value</th>
                                                            <th>Relative Density of Sand/Silty Sand</th>
                                                            <th rowspan="2">Classification</th>
                                                        </tr>
                                                        <tr>
                                                            <th>N</th>
                                                            <th>D<sub>r</sub>(%)</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                                <button class="btn btn-rose" type="button" style="position : absolute; right:0px;"
                                                onclick="myFunction()">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row tool-form">
                                        <button class="btn btn-rose" type="button" onclick="Calculate()">Calculate</button>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="card-header">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="link9">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Reference</h5>
                        </div>
                        <div class="card-body">
                            
                            <ol>
                                
                                <li>Terzaghi, K. and Peck, R.B. (1967) Soil Mechanics in Engineering Practice. 
                                    John Wiley & Sons, New York.</li>
                                <li>T. W. Lambe and R. V. Whitman, 1969, Soil Mechanics. John Wiley & Sons, 
                                    New York.</li>
                                <li>Skempton, A. W., 1986, Standard Penetration Test Procedures and the Effects 
                                    in Sands of Overburden Pressure, Relative Density, Particle Size, Ageing and 
                                    Over Consolidation, Geotechnique 36: 3.</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="link10">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Help center</h5>
                        </div>
                        <div class="card-body">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block javascripts %}
<!-- MathJax version 3 snippet -->
<script>
    function getAgs(element) {
        $('#select-variable-second').empty()
        let value_1 = "/project/details/"+ element.value ;
        document.querySelector('#backtoproject').href = value_1;
        get_borhole_list(element.value)
    };
    function get_borhole_list(value) {
        var project_id = parseInt(value);
        var dataRequest = { project_id: project_id };
        $.get('agsfiles', dataRequest).done(function (data) {
            for (i = 0; i < data.agsfiles.length; i++) {
                $('[name=select-variable-second]').append($('<option>', { value: data.agsfiles[i][0], text: data.agsfiles[i][1] }));
            }
        });
    };

</script>

<script>
    var y;
    var classification;
    function get_dr_Terzaghi(x){
    if (x <= 4 && x >=0){
        y = 15 * x / 4;
        classification = "Very Loose";}
    else if (x <= 10 && x >4){
        y = 15 + 20 * (x-4) / 6;
        classification = "Loose";}
    else if (x <= 30 && x >10){
        y = 35 + 30 * (x-10) / 20;
        classification = "Medium";}
    else if (x <= 50 && x >30){
        y = 65 + 20 * (x-30) / 20;
        classification = "Dense";}
    else if (x <= 200 && x >50){
        y = 85 + 15 * (x-50) / 150;
        classification = "Very Dense";}
    else{
        y = ""
        classification = ""
        }
    return [y,classification];
    }
    function get_dr_Skempton(x){
        if (x <= 200 && x >=0){
            classification = get_dr_Terzaghi(x)[1];
            y = 100*(x/60)**0.5;}
        else{
            y = ""
            classification = ""
            }
        if (y>100){y=100;}
        return [y,classification];}


    function myFunction() {
            var table = document.getElementById("table");
            var row = table.insertRow(-1);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            var cell4 = row.insertCell(3);
            cell1.innerHTML = '<select style=" text-align:center;" id="method_2" name="method_2">\
                <option value="Terzaghi">Terzaghi and Peck </option>\
                <option value="Skempton">Skempton </option></select>';
            cell2.innerHTML = '\
            <div class="row">\
                <div class="col-md-8">\
                    <input  type="number" id="calculate" name="NSPT" min="0" max ="200" step="1" >\
                </div>\
                    <div id="container">\
                        <i class="material-icons error">error_outline</i>\
                        <div class="errormessage">\
                            Please enter a number between 0 and 200 \
                        </div>\
                    </div>\
            </div>';
            cell3.innerHTML = '<p  name="dr" >';
            cell4.innerHTML = '<p name="classification" >';
          }
    function Calculate() {
            var table = document.getElementById('table');
            var methods = table.getElementsByTagName('select');
            var items = table.getElementsByTagName('input');
            var output_dr = document.getElementsByName('dr');
            var output_class = document.getElementsByName('classification');
            var rows = table.rows;
            var nodeList = document.querySelectorAll("#container");
            for(var i=0; i<items.length; i++){
                if(methods[i].value == "Terzaghi"){
                    result = get_dr_Terzaghi(items[i].value);
                    y = result[0];
                    if (typeof y == "number"){
                        y=y.toFixed(2);
                        output_dr[i].innerHTML = y;
                        output_class[i].innerHTML = result[1];
                        items[i].style.border = "thin solid black";
                        rows[i+2].style.backgroundColor = "";
                        nodeList[i].style.display = "none";
                    }
                    else{
                        output_dr[i].innerHTML = "";
                        output_class[i].innerHTML = "";
                        rows[i+2].style.backgroundColor = "#FBBDB3";
                        nodeList[i].style.display = "block";
                        items[i].style.border = "thick solid red";
                    }
                }
                else{
                    result = get_dr_Skempton(items[i].value);
                    y = result[0];
                    if (typeof y == "number"){
                        y = y.toFixed(2);
                        output_dr[i].innerHTML = y;
                        output_class[i].innerHTML = result[1];
                        items[i].style.border = "thin solid black";
                        rows[i+2].style.backgroundColor = "";
                        nodeList[i].style.display = "none";
                    }
                    else{
                        output_dr[i].innerHTML = "";
                        output_class[i].innerHTML = "";
                        rows[i+2].style.backgroundColor = "#FBBDB3";
                        nodeList[i].style.display = "block";
                        items[i].style.border = "thick solid red";
                    }
                }
                }
        }
</script> 
{% endblock javascripts %}
